* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #1a0033, #46018c);
  color: #fff;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: linear-gradient(90deg, #5f00cc, #ff66c4);
}

nav h2 {
  font-weight: 700;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

nav ul li a:hover {
  color:lightgreen;
  font-weight: 900;
}

/* Hero Section */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
              url('https://i.ytimg.com/vi/CVbDA5rlnzs/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCZ1rPv71flXSisf3vA07DFS2lGkg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 20px;
  animation: moveBackground 10s ease-in-out infinite alternate;
}




/* Keyframes for up-down movement */
@keyframes moveBackground {
  0% {
    background-position: start 0px;
  }
  50% {
    background-position: center 0px;
  }
  100%{
    background-position: end 100px;
  }
}


.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn {
  background: linear-gradient(90deg, #5f00cc, #ff66c4);
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 10px;
  font-weight: 300;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(90deg, #5f00cc, #ff66c4);
  width: 150px;
  height: 50px;
}

/* Section Title */
.section-title {
  text-align: left;
  font-size: 1.8rem;
  margin: 50px 0 20px;
}

/* Movie Cards */
.movies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 50px 50px;
}

.card {
  background: #1a0233;
  border-radius: 12px;
  width: 230px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(138, 81, 81, 0.1);
  transition: transform 0.3s;
  margin: 10px;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card h3 {
  margin: 10px 0;
}

.card p {
  font-size: 0.9rem;
  padding: 0 10px 15px;
  color: #ccc;
}

.card button {
  margin-bottom: 15px;
  background:linear-gradient(90deg, #5f00cc, #ff66c4);
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background: linear-gradient(90deg, #5f00cc, #ff66c4);
  width: 150px;
}

/* Categories Section */
.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 50px 80px;
}

.category-btn {
  background: linear-gradient(90deg, #6600ff,#ff0099);
  border: none;
  padding: 12px 40px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s;
  width: 300px;
  height: 60px;
  
}

.category-btn:hover {
  transform: scale(1.1);
}

/* Footer */
footer {
  text-align: center;
  padding: 25px;
  background: linear-gradient(90deg,#6600ff,#ff0099);
  font-size: 0.9rem;
  color: lightcyan;
}